<div class="slider mb-5">
  <div class="container p-0">
    <div class="">
      <div
        class="slider-list d-flex align-items-center justify-content-center justify-content-md-start text-center text-md-start"
        style="background-image: url('../../../../assets/images/image10.png')">
        <div class="w-75 w-lg-75 ms-0 ms-md-5 ps-0 ps-md-5">
          <h2 class="fs-1 mb-5">Скидки на травянные чаи</h2>
          <p class="fs-5 mb-5">Узнай все подробности, заполнив заявку</p>
          <button class="btn btn-primary px-5" type="button">Заполнить</button>
        </div>
      </div>
    </div>
  </div>
</div>
<aside class="mb-5">
  <div class="container">
    <h2 class="text-center fs-2 mb-4 mb-lg-5">Ответы на часто задаваемые вопросы</h2>

      <div ngbAccordion [closeOthers]="true" class="col-lg-8 mx-auto">
        <div ngbAccordionItem *ngFor="let panel of panels" [collapsed]="panel.title !== 'Собираете ли вы подарочные боксы?'">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ panel.title }}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>{{panel.body}}</ng-template>
            </div>
          </div>
        </div>
      </div>

  </div>
</aside>
<app-popup data="Посмотрите наши чайные коллекции!"></app-popup>

